@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  /* overflow: hidden; */
  margin: 0;
  background:linear-gradient(#49699b 0%, rgb(15, 62, 95) 45%-70%, #355b94 100%);
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
    width: 80%;                         
    margin: 0 auto;
    flex-direction: column;
    display: flex ;
}

.header {
    background-color: rgba(16, 41, 66, 0.2);
    width: 100%;
    border-radius: 20px;
    margin: 5vh 0;
    display: flex;
    box-shadow: 10px 10px 10px 0 rgba(1, 1, 3, 0.2);
    z-index: 5;
}



.logo {
    height: 17vh;
    background: no-repeat url(img/logoPNG.png) center ;
    background-size: 88%;
    width: 27vw;
    align-items: center;
    margin-top: 3vh;
}

.logo-text {
    width: 100%;
}

.logo-text > h1 {
  color:#fff;
  font-size: 4rem;
  /* text-shadow: 0 0 17px #5c99c0, 0 0 10px #636362 */
}

.logo_text > h2 {
  color: #13496f;
  display: flex;
  justify-content: center;
}

.logo-text > h2 > a {
  
  color:#fff;
}


h1 {
    color:#fff;
    font: bold 3rem/3.5rem Muli;
    justify-content: center;
    display: flex;
    z-index: 5;
    text-shadow: 10px 10px 10px rgba(1, 1, 3, 0.2);
}

h2 {
    color:#fff;
    font: bold 2rem/2.5rem Muli;
    justify-content: center;
    z-index: 5;
    display: flex;
}

.main {
  z-index: 5;
  position: relative;
}

.main-bg {
  background: no-repeat url(img/road1.jpg);
  width: 100vw;
  height: 288vh;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: 1;
  overflow: hidden;
}

.main-header {
    color:#124876;
    font: bold  2rem/3rem Muli;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-bottom: 5vh;
    text-shadow: 10px 10px 10px rgba(1, 1, 3, 0.2);
}

.main-container {
    height: 50%;
    position: relative;
}

.main-text {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 7vh;
  z-index: 5;
  
}
.main-text > h3 {
  font-weight: 500;
  margin-bottom: 7vh;
  z-index: 5;
  font-size: 2rem;
}

.social-links {
  position: fixed;
  top: 50vh;
  left: -28px;
  transform: scale(.3);
  list-style: none;
  border: 8px double #5c99c0;
  border-radius: 15px;
  padding: 15px 34px 15px 10px;
}

.social-links li {
  list-style: none;
}

.container {
  width: 100%;
  display: flex;
  margin-bottom: 7vh;
}

.slide {
  height: 53vh;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 0 rgba(1, 1, 3, 0.2);
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  z-index: 10;
}

.slide h3 {
  position: absolute;
  font-size: 2rem;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in .4s;
}
.advantages {
  text-shadow: 10px 10px 10px rgba(1, 1, 3, 0.2);
}

hr {
  background: #5c99c0;
}


.approval {
  border: 8px double #5c99c0;
  border-radius: 20px;
  padding: 0 0 3vh 3vw;
  margin-right: 0;
  box-shadow: 10px 10px 10px 0 rgba(1, 1, 3, 0.2);
}

.approval-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* background: linear-gradient(90deg, rgb(205, 53, 53, 1) 0%, rgb(236, 19, 9, 1) 50%, rgba(205, 53, 53, 1) 100%);  */
  text-decoration: none;
  padding-bottom: 2vh;
  border-radius: 8px;
  
}

/* .btn:hover {
  transform: scale(0.95);
} */

.plan {
  list-style: none;
  border: 8px double #5c99c0;
  border-radius: 20px;
  padding: 2vh 0 2vh 2vw;
  margin-right: 0;
  box-shadow: 10px 10px 10px 0 rgba(1, 1, 3, 0.2);
}

.plan > li > a {
  color:#fff;
}


.footer {
  width: 100%;
  background: #49699b;
  border-radius: 20px;
  margin: 5vh 0;
  box-shadow: 10px 10px 10px 0 rgba(1, 1, 3, 0.2);
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2vh 2vh;
  position: relative;
  
}

/* .footer_links {
  position: absolute;
} */

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li {
  list-style: none;
}

.social-links > a {
  cursor: pointer;
}

@media (max-width: 1500px) {

  .logo-text h1 {
    font-size: 3rem;
  }

  .logo-text h2 {
    font-size: 1.5rem;
  }

  .main-bg {
    width: 102vw;
    height: 294vh;
  }

  .approval-heading {
    font-size: 2rem;
  }

  .btn {
    font-size: 2rem;
  }

}

@media (max-width: 1120px) {

  .logo-text h1 {
    font-size: 2.2rem;
  }

  .logo-text h2 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .main-bg {
    width: 104vw;
    height: 288vh;
  }

  .main-header {
    font-size: 1.1rem;
    margin-bottom: 1vh;
    line-height: 1.5rem;
  }

  .slide {
    height: 40vh;
  }


  h1 {
    font-size: 2rem;
  } 

  .approval-heading {
      font-size: 1.8rem;
  }

  li {
    font-size: 1.8rem;
  }
  
}

@media (max-width: 885px) {
  
  .logo {
    background-size: 110%;
    width: 27vw;
    height: auto;
    margin-top: 17px;
  }

  .logo-text h1 {
    font-size: 1.8rem;
  }

  .logo-text h2 {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .main-bg {
    width: 110vw;
    height: 315vh;
  }

  .slide h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 680px) {
  .logo-text h2 {
    font-size: 0.7rem;
  }

  .main-bg {
    width: 115vw;
    height: 370vh;
  }

}

@media (max-width: 520px) {
  .logo-text h1 {
    font-size: 1.2rem;
    margin: 0;
    line-height: 2rem;
  }

  .logo-text h2 {
    font-size: 0.5rem;
    margin-top: 0;
  }

  .logo {
    margin-top: 0;
  }

  .header {
    margin: 3vh 0 0 0;
    border-radius: 8px;
  }
  .main-header {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 21px;
    margin-bottom: 11px;
  }

  h1 {
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .slide {
    height: 28vh;
  }

  .slide h3 {
    font-size: 0.8rem;
    bottom: 15px;
    left: 15px;
  }

  .container {
    margin-bottom: 2vh;
  }

  .main-text > h3 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 2vh;
  }

  .approval-heading {
    font-size: 1rem;
    margin-bottom: 1vh;
  }

  li {
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
  }

  .main-bg {
    width: 115vw;
    height: 216vh;
  }
}

@media (max-width: 380px) {

  .logo-text h1 {
    font-size: 1rem;
  }

  .logo-text h2 {
    font-size: .4rem;
    line-height: .7rem;
  }

  .slide {
    height: 15vh;
  }
  .slide {
    margin: 7px;
  }

  .main-text > h3 {
    font-size: 0.9rem;
  }

  li {
    font-size: .9rem;
  }

  .approval {
    padding: 0 0 3vh 5vw;
  }

  .main-bg {
    width: 111vw;
    height: 255vh;
  }

}


